{% extends '20220730000000000005_CALCULATOR.html' %}

{% block gndr %}

{% endblock gndr %}
{% block year %}
<div class="year-chos w-100">
    <a class="btn btn-outline-dark float-start my-4 ms-5 p-1 dropdown-toggle" href="https://tansik.digital.gov.eg/application/" target="_blank" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        اختيار دفعة غير {{ year }}
    </a>
    <ul class="dropdown-menu">
        {% for year_tnsk in lnth %}
        <li>
            <a class="dropdown-item" href="{{ host }}calculator/?dgre={{ gndr }}{{ lvel }}{{ syst }}%26{{ dgre }}%26{{ year_tnsk}}">
                {{ year_tnsk }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block tnsk %}
<div class="tnsk">
    <div class="text-center text-primary my-3">
        <div class="tnsk-dgre fw-bold fs-3">
            {{ dgre }}
        </div>
        <div class="fs-4">
            مجموعك الاعتباري
        </div>
    </div>
    <div>
        <div>
            
        </div>
        <div class="list-group pb-3">
            {% for collage in tnsk %}
            <div class="list-group-item border-0 border-bottom text-dark bg-opacity-25 d-flex p-3 rounded-0">
                <div class="tnsk-colg fw-bold ps-3">
                    {{ collage.0 }}
                </div>
                <div>
                    {{ collage.1 }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block btn_form %}
<div>

</div>
{% endblock %}