<!DOCTYPE html>
{% load static %}
<html lang="ar" dir="rtl">
    <head>
<!--    v0.0.1                      -->
<!--    info                        -->
        <link href="{% static 'Photo/logo.svg' %}" rel="icon" type="data:image/svg+xml"/>
        <title>
            المميز والمتميز التعليمي 
            {% block title %}
            {% endblock %}
        </title>
        <meta name="المميز والمتميز التعليمي" content=""/>
        <meta charset="UTF-8"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<!--    CSS                         -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="{% static 'SASS/main.css' %}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/M.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/H.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/S.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/F.css' %}"/>
<!--    Fonts                       -->
        <link rel="stylesheet" type="text/css" href="{% static 'font/alqabas/alqabas.css' %}"/>
    </head>
    <body class="text-dark">
        <div class="d-flex flex-row">
            {% block nav %}
            <header class="position-fixed">
                <div class="hdr-btn" style="display: none;">
                    <a class="text-dark fs-5 me-3" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                        <i class="fa-solid fa-bars my-3"></i>
                    </a>
                </div>
                <nav class="navbar bg-white p-0 t-0" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                    <div class="header container flex-column" id="collapseExample">
                        <a class="navbar-brand mt-5" href="./">
                            <div class="card border-0">
                                <img class="card-img-top mx-auto d-block w-50" src="{% static 'Photo/logo.svg' %}" alt="المميز والمتميز التعليمي">
                                <div class="card-body">
                                    <h4 class="card-title text-center text-dark small">
                                        المميز والمتميز التعليمي<br/>
                                        #نساعد_فنسعد
                                    </h4>
                                </div>
                            </div>
                        </a>
                        <div class="flex-column w-100 overflow-auto">
                            <a class="btn btn-outline-dark border-0 m-2 p-2 text-end d-block fs-5" href="{{ host }}">
                                <i class="fa-solid fa-house" style="width: 50px"></i>
                                الرئيسة
                            </a>
                            <a class="btn btn-outline-dark border-0 m-2 p-2 text-end d-block fs-5" href="{{ host }}library/">
                                <i class="fa-solid fa-book" style="width: 50px"></i>
                                مكتبة المميز
                            </a>
                            <a class="btn btn-outline-dark border-0 m-2 p-2 text-end d-block fs-5" href="{{ host }}calculator/">
                                <i class="fa-solid fa-calculator" style="width: 50px"></i>
                                حساب المعدل
                            </a>
                            <a class="btn btn-outline-dark border-0 m-2 p-2 text-end d-block fs-5" href="{{ host }}about/">
                                <i class="fa-solid fa-address-card" style="width: 50px"></i>
                                من نحن
                            </a>
                        </div>
                    </div>
                </nav>
            </header>
            {% endblock %}
            <div class="cntnt w-100">
                {% block slide_show %}
                <div class="w-100 p-0 m-0">
                    <div id="carouselExampleDark" class="carousel carousel-primary slide carousel-fade rounded m-3" data-bs-touch="false">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        </div>
                        <div class="carousel-inner rounded">
                            <a class="carousel-item active" href="">
                                <img src="https://th.bing.com/th/id/R.38c2d29cdb9bc1e8bc6e53ef6e17c51c?rik=dYaDQKsPTEvHpw&riu=http%3a%2f%2febis.co.za%2fmain%2fwp-content%2fplugins%2fperspective%2fperspective%2fimages%2fbg%2faaa-transparent.png&ehk=F%2fo3NvBXl0T%2fTAu2eqeBgDOFrr3DDKFaSsDggeK%2fGi8%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100"/>
                                {% comment %} <div class="carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div> {% endcomment %}
                            </a>
                            <a class="carousel-item" href="">
                                <img src="https://th.bing.com/th/id/R.38c2d29cdb9bc1e8bc6e53ef6e17c51c?rik=dYaDQKsPTEvHpw&riu=http%3a%2f%2febis.co.za%2fmain%2fwp-content%2fplugins%2fperspective%2fperspective%2fimages%2fbg%2faaa-transparent.png&ehk=F%2fo3NvBXl0T%2fTAu2eqeBgDOFrr3DDKFaSsDggeK%2fGi8%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100"/>
                            </a>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                {% endblock %}
                {% block content %}
                
                {% endblock %}
            </div>
        </div>
        {% block footer %}
        <table class="fotr table table-striped border-0 m-0">
            <tbody>
                <tr>
                    <td class="border-0 text-center text-dark py-5">
                        <div>
                            <div class="fw-bold fs-3">
                                كن بالقرب دائماً
                            </div>
                            <div class="fs-4">
                                نعمل بجد لمساعدتكم أينما كنتم
                            </div>
                        </div>
                        <div class="fs-1 pt-2">
                            <a href="https://www.facebook.com/MMQ4u/" target="_blank"><i class="fa-brands fa-facebook text-dark"></i></a>
                            <a href="https://www.facebook.com/groups/MMQdrat2016" target="_blank"><i class="fa-solid fa-user-group text-dark"></i></a>
                            <a href="https://twitter.com/mmq2u" target="_blank"><i class="fa-brands fa-twitter text-dark"></i></a>
                            <a href="https://t.me/MMQ4u" target="_blank"><i class="fa-brands fa-telegram text-dark"></i></a>
                        </div>
                    </td>
                </tr>
                <tr class="container">
                    <td class="border-0 bg-secondary p-0 d-flex w-100">
                        <div class="p-0" style="width: 500px;">
                            <a class="btn btn-secondary m-0 p-5 rounded-0" href="{{ host }}about/">
                                من نحن
                            </a>
                            <a class="btn btn-secondary m-0 p-5 rounded-0" href="{{ host }}about/">
                                من نحن
                            </a>
                        </div>
                        <div class="p-4" dir="ltr" style="width: calc(100% - 500px);">
                            جميع الحقوق محفوظة لمميز والمتميز التعليمي 2019©<br/>
                            <b>Desighned by:</b> Abdullah Gam33<br/>
                            <b>Powered by:</b> Youssef Hassan
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endblock %}
    </body>
<!--    JS                          -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'JS/M.js' %}"></script>
    <script src="{% static 'JS/H.js' %}"></script>
    <script src="{% static 'JS/S.js' %}"></script>
</html>