{% extends '20220730000000000001_HOME.html' %}
{% block title %}
| مكتبة المميز
{% endblock title %}
{% block content %}
<div class="m-3">
    <div>
    
    </div>
    <div>
        <ul class="mnu nav nav-tabs p-0" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link text-dark fw-bold active" data-bs-toggle="tab" type="button" aria-selected="true">القدرات</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-dark fw-bold" data-bs-toggle="tab" type="button" aria-selected="false">ورقي</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-dark fw-bold" data-bs-toggle="tab" type="button" aria-selected="false">محوسب</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-dark fw-bold" data-bs-toggle="tab" type="button" aria-selected="false">كمي</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-dark fw-bold" data-bs-toggle="tab" type="button" aria-selected="false">لفظي</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-dark fw-bold" data-bs-toggle="tab" type="button" aria-selected="false">فترة</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-dark fw-bold" data-bs-toggle="tab" type="button" aria-selected="false">يومي</button>
            </li>
        </ul>
        <div class="d-flex flex-wrap">
            {% for member in qdrt %}
            <a class="lib-lst card text-decoration-none mt-4 ms-4" id="{{ member.0 }}" href="{{ member.1 }}">
                <img src="{{ member.3 }}" class="card-img-top p-2">
                <div class="card-body">
                    <p class="card-text text-dark">{{ member.2 }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}